.main{
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.h1{
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    margin-top: 1.25rem ;
    margin-bottom: 1.25rem ;
    align-items: center;
}
.section{
    color: rgb(15 23 42 )
}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h2{
    font-size: 30px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}
.h22{
    font-size: 30px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}
.ul{
    list-style-type: disc;
    padding:  20px ;
    list-style-position: inside;
    font-size:  18px;
    line-height: 28px;
    color: rgb(55 65 81)
}
.li{
    font-weight: 700;
    color: rgb(31 41 55);
}
.lipara{
    font-weight: 200;
    color: rgb(55 65 81)
}
.p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 100;
}
.p2{
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 100;
}
.span{
    font-weight: 600;
}
.image{
    margin-bottom: 28px;
    margin: auto;
    width:300px;
    height: 300px;
}
.divider{
    margin-top: 28px;
    padding: 12px;
    border-top-width: 2px;
}




@media (min-width: 640px) {
    .h1 {
        font-size: 36px;
        line-height: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
@media (min-width: 768px) {
    .h1{
        font-size: 3rem /* 48px */;
        line-height: 1;
    }
    .div1 {
        margin-right: 20px;
        margin-left: 20px;
        flex-direction: row;
        }
    .div2{
        margin-left: 20px;
        width: 50%;
    }
    .h2{
    margin-top:  20px;
    margin-bottom:  20px;
}
.h22{
    margin-top: 12px;
    margin-bottom: 12px;
}
.image{
    margin-top: 64px;
    margin-bottom: 64px;
}}
